/*
	Theme Name:  AgriFlex3
	Description: Genesis child theme for Texas A&M AgriLife
	Author: 		 Texas A&M AgriLife Communications
	Author URI:  http://agrilife.org/communications
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/

/*
Hey! Where'd everything go?

No worries. This theme uses SASS & Compass to create the stylesheet.
Check out the css directory.
 */