/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $footer-background;
  color: $footer-text;
  @include adjust-font-size-to(10px);
  padding: 30px 0;
  text-align: center;
  font: {
    family: $footer-font-family;
    weight: $footer-font-weight;
  }

    ul {
      font: {
        family: $footer-font-family;
        weight: $footer-font-weight;
      }
    }

    .footer-tamus {
      border: 2px solid $white;
    }

	p {
    margin-bottom: 0;
	}

    a {
      color: $footer-text;
    }

	.footer-widgets .widget-area {
	}

}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

  .site-footer {
    max-width: $row-width;
    margin: 0 auto;
  }

  .req-links li {
    float: left;
    font-size: 0.8em;
    margin: .2em 1em .2em 0;
  }

}

@media #{$medium-only} {

}

@media #{$large-up}{

}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
