/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $footer-background;
  color: $footer-text;
  @include adjust-font-size-to(14px);
  padding: 40px 0;
  text-align: center;

	p {
    margin-bottom: 0;
	}

	.footer-widgets .widget-area {
	}

}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

}

@media #{$medium-only} {

}

@media #{$large-up}{

}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
