/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper {

	input[type="email"],
	input[type="text"],
	textarea,
	.ginput_complex label {
		@include adjust-font-size-to(16px);
		padding: 5px 10px;
	}

	.ginput_complex label {
		padding: 0;
	}

	li,
	form li {
		margin: 16px 0 0;
	}

	.gform_footer input[type="submit"] {
		@include adjust-font-size-to(14px);
	}
}


@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

}

@media #{$medium-only} {

}

@media #{$large-up}{

}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
