/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $header-background;
}

.site-header .wrap {
	// padding: 40px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	font-weight: 700;
	float: left;
	padding: 16px 0;
}

.site-title {
	@include adjust-font-size-to(28px);
	margin: 0 0 8px;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: $site-title;
}

.site-description {
	color: $site-description;
	@include adjust-font-size-to(16px);
	font-weight: 300;
	line-height: 1;
	margin-bottom: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
}


/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
}

.header-image .site-header .wrap {
	background-position: center top;
}

.site-header ul.genesis-nav-menu,
.site-header .search-form {
	float: none;
}

.site-description,
.site-header .title-area,
.site-header .search-form,
.site-title {
	text-align: center;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {

	.header-image .site-header .wrap {
		background: url(images/logo@2x.png) no-repeat left;
		background-size: 360px 164px;
	}

}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

	.title-area {
	}

	.site-header .widget-area {
		float: right;
		text-align: right;
	}

	.header-image .site-header .widget-area {
		padding: 40px 0;
	}

	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: left;
	}

}

@media #{$medium-only} {

}

@media #{$large-up}{

}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
