/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {

  /* Title Area
  --------------------------------------------- */

  .title-area {
    font-weight: 700;
    float: left;
    padding: 16px 0;
  }

  .site-description {
    color: $site-description;
    @include adjust-font-size-to(16px);
    font-weight: 300;
    line-height: 1;
    margin: 0;
  }

  /* Full width header, no widgets */

  .header-full-width .title-area,
  .header-full-width .site-title {
  }

  /* Widget Area
  --------------------------------------------- */

  .widget-area {
  }

  ul.genesis-nav-menu,
  .search-form {
    float: none;
  }

  .site-description,
  .title-area,
  .search-form,
  .site-title {
    text-align: center;
  }

}

.primary-search {
  display: none;
}

.agency-bar {
  display: none;
}

.header-image .site-header .wrap {
  background-position: center top;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

  .header-image .site-header .wrap {
    background: url(images/logo@2x.png) no-repeat left;
    background-size: 360px 164px;
  }

}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

  #imageView {
    position: absolute;
    top: 200px;
    width: 100%;
  }
  .site-title {
    margin: 2em 0 0 0;
  }
  .site-header {

    .college-title {
      margin: -20px 0 0 0;

      a {
        border: 0;
        overflow: hidden;
        border-bottom: #fff 8px solid;
        border-right: #fff 10px solid;
        border-left: #fff 10px solid;
        padding: 28px 20px 37px 20px;
        position: absolute;
        background: url("../img/logo-college.png") no-repeat center $primary-color;
        background-size: 146px 28px;
        width: 200px;
        height: 37px;
        @include box-shadow();

        span {
          display: none;
        }
      }
    }

    .widget-area {
      float: right;
      text-align: right;
    }

    .title-area {
      padding: 16px 1em;
    }

    .site-description,
    .title-area,
    .search-form,
    .site-title {
      text-align: left;
    }

    .search-form {
      float: right;
      max-height: none;
      margin: 0.1em 0 0 0;

      input[type="search"] {
        width: 180px;
        border: 1px solid #d5d6da;
        padding: 0.1em .3em;
        background: #fff url("../img/search-college.png") no-repeat 150px 45%;
      }
      input[type="submit"] {
        @include visuallyhidden;
      }
      fieldset {
        position: relative;
        border: 0;
        padding: 0;
        margin: 0;
      }
      .search-submit {
        background: none;
        padding: 0.78em 1em;
        border: 0;
        border-left: 1px solid gray;
        color: gray;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: auto;
        .icon-search:before {
          content: "\73";
        }
      }
    }
    .primary-search {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 1em;
    }

  }

  .header-image .site-header .widget-area {
    padding: 40px 0;
  }



  .agency-bar {
    @include grid-row();
    background-color: $gray-agency-bar;
    max-width: 100%;
    height: 42px;
    display: block;


    $nav-item-width: 167;
    $nav-item-height: 42;
    $nav-first-item-width: 164;
    $nav-first-item-offest: 97;

    .agency-wrap {
      @include grid-column($center: true);
      width: $row-width;
    }

    ul {
      position: absolute;

      margin: 0;

      li {
        position: absolute;

        a {
          height: 42px;
          background: url('../img/agency-nav.png');
          text-indent: -9999em;
          display: block;
          position: absolute;
          @include single-transition(none);
        }

        &.tfs-item a {
          width: #{$nav-first-item-width}px;
          z-index: 5;
          &:hover {
            background-position: -1px * $nav-item-width 0;
          }
        }

        &.tvmdl-item {
          left: 125px;
          z-index: 4;
          a {
            width: 167px;
            background-position: 0 $nav-item-height * -1px;
            &:hover {
              background-position: -1px * $nav-item-width $nav-item-height * -1px;
            }
          ;
          }
        }

        &.ext-item {
          left: 256px;
          z-index: 3;
          a {
            width: 167px;
            background-position: 0 $nav-item-height * -2px;
            &:hover {
              background-position: -1px * $nav-item-width $nav-item-height * -2px;
            }
          ;
          }
        }

        &.res-item {
          left: 385px;
          z-index: 2;
          a {
            width: 167px;
            background-position: 0 $nav-item-height * -3px;
            &:hover {
              background-position: -1px * $nav-item-width $nav-item-height * -3px;
            }
          ;
          }
        }

        &.college-item {
          left: 513px;
          z-index: 1;
          a {
            width: 167px;
            background-position: 0 $nav-item-height * -4px;
            &:hover {
              background-position: -1px * $nav-item-width $nav-item-height * -4px;
            }
          ;
          }
        }

      }
    }
  }

}

@media #{$medium-only} {

}

@media #{$medium-up-common}{
  .agency-bar {
    position: absolute;
    ul {
      left: 220px;
    }
  }
  .site-header .primary-search {
    padding: 0 1em 0 0;
  }
}

@media #{$large-up}{

  .agency-bar {
    ul {
      left: 204px;
    }
  }

  .site-header {
    .title-area {
      padding: 16px 0;
    }
    .primary-search {
      padding: 0;
    }
  }

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
