/* Setup grid dimensions
--------------------------------------------- */
$row-width: rem-calc(1140);
$column-gutter: rem-calc(32);
$total-columns: 12;

/* Site Containers
--------------------------------------------- */

.site-container {
	position: relative;
}

header .wrap,
.site-inner .wrap,
footer .wrap {
	@include grid-row();
}

.site-inner .wrap {
  background-color: $white;
}

body {
  background-color: #ffffff; // Old browsers
  @include filter-gradient(#ffffff, #d4d4d4, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, #ffffff 0%,#ffffff 10%,#d4d4d4 29%,#d4d4d4 100%));
}
/* Header
--------------------------------------------- */
.site-header .title-area {
	@include grid-column(12);
}

/* Navigation
--------------------------------------------- */

/* Breadcrumbs
--------------------------------------------- */
.breadcrumb {
  border-bottom: 1px solid $gray-lighter;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding: 1em 0;
}

/* Content
--------------------------------------------- */
.content,
.five-sixths,
.four-fifths,
.four-sixths,
.one-fourth,
.one-half,
.one-fifth,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-primary,
.sidebar-secondary {
	@include grid-column(12);
}

.full-width-content .content {
	@include grid-column(12);
}

/* Sidebars
--------------------------------------------- */
.sidebar-primary,
.sidebar-secondary {
	@include grid-column(12);
}

/* Single Column Page Template
--------------------------------------------- */

.page-template-singlecolumn .site-inner {
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
  }
}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

    .top-bar-wrapper {
		@include grid-row();

		width: 100%;
        overflow: visible;
        background: transparent;
	}

	.contain-to-grid {
      .top-bar {
        max-width: 71.25rem;
        width: 100%;
        overflow: visible;
        margin: 0 auto;
        background: $primary-color;
        li a:not(.button) {
          background: $primary-color;
        }
        .top-bar-section ul {
          background: $primary-color;
          li > a {
            background: $primary-color;
          }
        }
	  }
    }

    .site-inner  {
        @include grid-row();
    }

	.sidebar-primary,
	.sidebar-secondary {

		.widget {
			@include grid-column(4);
		}
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		@include grid-column(6);
	}
	 
	.one-third,
	.two-sixths {
		@include grid-column(4);
	}
	 
	.four-sixths,
	.two-thirds {
		@include grid-column(8);
	}
	 
	.one-fourth {
		@include grid-column(3);
	}
	 
	.three-fourths {
		@include grid-column(9);
	}
	 
	.one-fifth {
		width: 17.9487179487179488%;
		float: left;
	}
	 
	.two-fifths {
		width: 38.4615384615384616%;
		float: left;
	}
	 
	.three-fifths {
		width: 58.9743589743589744%;
		float: left;
	}
	 
	.four-fifths {
		width: 79.4871794871794872%;
		float: left;
	}
	 
	.one-sixth {
		@include grid-column(2);
	}
	 
	.five-sixths {
		@include grid-column(10);
	}

}

@media #{$medium-only} {

}

@media #{$large-up}{

  .top-bar-wrapper {
    margin-bottom: 1em;
  }

	.content {
		@include grid-column(8);
        margin: 2% 0;
	}

    .site-inner  {
      @include inner-background($inner-background-img,$inner-background-size,$inner-background-offset);
      .wrap {
        margin-top: 55px;
      }
    }

	.sidebar-primary,
	.sidebar-secondary {
		@include grid-column(4);
        margin: 2% 0;

		.widget {
			@include grid-column(12);
		}
	}

	.sidebar-content .sidebar-primary {
		float: left;
	}

}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
