/* Setup column dimensions
--------------------------------------------- */
$columns: 12;
$column-width: 60;
$gutter-width: 20;
$total-width: 100%;

/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
	@include box-sizing(border-box);
}

/* Site Containers
--------------------------------------------- */
.site-container {
	position: relative;
}

.wrap {
	position: relative;
	margin: 0 auto;
	max-width: $site-width;
}

.site-inner {
	@include column(12);
}

.full-width-content .content {
	@include column(12);
	
}

.content-sidebar-wrap {
}

body {
	background-color: $white;
}

.wrap {
	@include row(12);
	padding: 20px 0;
	margin: 0 auto;
}

.site-inner {
	@include column(12);
}

.content,
.sidebar-primary,
.sidebar-secondary, {
	padding: 0 2.5%;
}

.content,
.five-sixths,
.four-fifths,
.four-sixths,
.one-fourth,
.one-half,
.one-fifth,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-primary,
.sidebar-secondary {
	@include column(12);
	margin: 0;
}

@media only screen and (min-width: $break-small) {

	.content {
		padding: 0;
	}

}

@media only screen and (min-width: $break-medium) {

	.content {
		// float: right;
		@include column(8);
	}

	.content-sidebar .content {
		float: left;
	}

	.sidebar-primary,
	.sidebar-secondary {
		// float: right;
		@include column(4);
	}



	.sidebar-content .sidebar-primary {
		float: left;
	}

	/* Column Classes - Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
	--------------------------------------------- */

	.one-half,
	.three-sixths,
	.two-fourths {
		@include column(6);
	}
	 
	.one-third,
	.two-sixths {
		@include column(4);
	}
	 
	.four-sixths,
	.two-thirds {
		@include column(8);
	}
	 
	.one-fourth {
		@include column(3);
	}
	 
	.three-fourths {
		@include column(9);
	}
	 
	.one-fifth {
		width: 17.9487179487179488%;
		float: left;
	}
	 
	.two-fifths {
		width: 38.4615384615384616%;
		float: left;
	}
	 
	.three-fifths {
		width: 58.9743589743589744%;
		float: left;
	}
	 
	.four-fifths {
		width: 79.4871794871794872%;
		float: left;
	}
	 
	.one-sixth {
		@include column(2);
	}
	 
	.five-sixths {
		@include column(10);
	}
	 
	.first {
		clear: both;
		margin-left: 0;
	}
}

@media only screen and (min-width: $break-large) {

}

