/* Setup grid dimensions
--------------------------------------------- */
$row-width: rem-calc(1140);
$column-gutter: rem-calc(32);
$total-columns: 12;

/* Site Containers
--------------------------------------------- */

.site-container {
	position: relative;
}

.site-inner {
  @include grid-row();
}
header .wrap,
.site-inner .wrap,
footer .wrap {
	//@include grid-row();
}

/* Header
--------------------------------------------- */
.site-header .title-area {
	width: 190px;

}

/* Navigation
--------------------------------------------- */

/* Breadcrumbs
--------------------------------------------- */
.breadcrumb {
  padding-top: 2em;
  padding-bottom: 1em;
}

/* Content
--------------------------------------------- */
.content,
.five-sixths,
.four-fifths,
.four-sixths,
.one-fourth,
.one-half,
.one-fifth,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-primary,
.sidebar-secondary {
	@include grid-column(12);
}

.full-width-content .content {
	@include grid-column(12);
}

/* Sidebars
--------------------------------------------- */
.sidebar-primary,
.sidebar-secondary {
	@include grid-column(12);
}


@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {

    .top-bar-wrapper {
		//@include grid-row();
		width: 100%;
        overflow: visible;
        background: transparent;
	}

	.contain-to-grid {
      .top-bar {
        max-width: 71.25rem;
        width: 100%;
        overflow: visible;
        margin: 0 auto;
        background: $white;
        li a:not(.button) {
          background: $white;
        }
        .top-bar-section ul {
          background: $white;
          li > a {
            background: $white;
          }
        }
	  }
    }

    .sidebar-content-sidebar {
      .site-inner {
        .wrap {
          @include grid-row();

          .content-sidebar-wrap {
            @include grid-column(12);
          }

          .sidebar-secondary {
            @include grid-column(12);
          }
          .sidebar-primary {
          }

        }
      }
    }


	.sidebar-primary,
	.sidebar-secondary {

		.widget {
			@include grid-column(4);
		}
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		@include grid-column(6);
	}
	 
	.one-third,
	.two-sixths {
		@include grid-column(4);
	}
	 
	.four-sixths,
	.two-thirds {
		@include grid-column(8);
	}
	 
	.one-fourth {
		@include grid-column(3);
	}
	 
	.three-fourths {
		@include grid-column(9);
	}
	 
	.one-fifth {
		width: 17.9487179487179488%;
		float: left;
	}
	 
	.two-fifths {
		width: 38.4615384615384616%;
		float: left;
	}
	 
	.three-fifths {
		width: 58.9743589743589744%;
		float: left;
	}
	 
	.four-fifths {
		width: 79.4871794871794872%;
		float: left;
	}
	 
	.one-sixth {
		@include grid-column(2);
	}
	 
	.five-sixths {
		@include grid-column(10);
	}

}

@media #{$medium-up-common} {

  .sidebar-content-sidebar {
    .site-inner {
      .wrap {
        @include grid-row($behavior: nest-collapse);

        .sidebar-secondary {
          @include grid-column($columns: 3, $float: left, $collapse: true);
          background-color: $sidebar-secondary-background;
          margin-top: 104px;
        }

        .content-sidebar-wrap {
          @include grid-column($columns: 9, $float: right, $collapse: true);

          .content {
            @include grid-column($columns: 8, $float: left);
            background-color: $content-bg-color;
          }

          .sidebar-primary {
            @include grid-column($columns: 4, $float: left, $collapse: true);
            margin-top: 104px;
          }

        }

      }
    }
  }
}

@media #{$large-up}{

  .sidebar-content-sidebar {
    .site-inner {
      .wrap {
        @include grid-row($behavior: nest-collapse);


        .sidebar-secondary {
          position: relative;
          padding-left: 0;
          padding-right: 0;
          width: 212px;
          float: left;

          background-color: $sidebar-secondary-background;
          margin-top: 104px;

          .widget {
            @include grid-column($columns: 12, $collapse: true);
          }
        }

        .content-sidebar-wrap {
          position: relative;
          padding-left: 0;
          padding-right: 0;
          width: 928px;
          float: right;

          .content {
            position: relative;
            padding-left: 26px;
            padding-right: 26px;
            width: 612px;
            float: left;
            background-color: $content-bg-color;
          }

          .sidebar-primary {
            position: relative;
            padding-left: 16px;
            padding-right: 16px;
            width: 316px;
            float: left;
            margin-top: 104px;
          }

        }

      }
    }


  }


}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
