/* Google Custom Search Results
--------------------------------------------- */

.gsc-results-wrapper-visible {
  table {
    border: 0;
    margin-bottom: 0;
  }
  .gsc-table-cell-snippet-close,
  .gsc-table-cell-snippet-open {
    padding-left: 1em;
  }
}