/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {

	p:last-child {
		margin-bottom: 0;
	}

	li {
		list-style-type: none;
		margin-bottom: 6px;
		word-wrap: break-word;
	}

	ul > li:last-child {
		margin-bottom: 0;
	}

	.widget {
      h4.widget-title {
        font-size: 1.1em;
        margin-bottom: 1em;
        letter-spacing: 1px;
        background: url("../img/bg-titles.png") top right no-repeat transparent;
        background-size: 1024px;
        color: #fff;
        text-align: left;
        text-transform: uppercase;
        padding: 3% 4% 3% 5%;
        line-height: 1.1;
      }


      &:nth-child(4n+1) h4.widget-title {
        background-position: right -120px;
      }

      &:nth-child(4n+2) h4.widget-title {
        background-position: right -180px;
      }

	}

}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {
  .widget-wrap {
    padding: 1em;
    background: $sidebar-background;
  }
  .sidebar {
    &.sidebar-primary .widget,
    &.sidebar-secondary .widget{
      width: 50%;
      padding-bottom: 1rem;
    }
  }

}

@media #{$medium-only} {

}

@media #{$large-up}{
  .sidebar {
    &.sidebar-primary .widget,
    &.sidebar-secondary .widget{
      width: 100%;
      padding: 0;
    }
  }


}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
