/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    padding-top: 3rem;

    p {
      color: $gray-lighter;
      line-height: 1.4;

      &:last-child {
		margin-bottom: 0;
      }
	}

    ul {
      margin-left: 0;
    }

	li {
		list-style-type: none;
		word-wrap: break-word;
        a {
          display: block;
          line-height: 1.1rem;
          background-color: $grey-even-lighter-than-lightest;
          padding: .7rem .4rem .7rem .8rem;
          border-left: 3px solid $grey-even-lighter-than-lightest;

          &:hover {
            border-left: 3px solid $primary-color;
            background-color: $gray-lightest;
            text-decoration: none;
          }
        }
        &.current-menu-item a {
          border-left: 3px solid $primary-color;
          background-color: $gray-lightest;
        }
        .sub-menu a {
          padding-left: 1.6rem;
        }
	}

	ul > li:last-child {
	  margin-bottom: 0;
	}

	.widget {
      padding-top: 3rem;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        margin-bottom: 3rem;
      }

      h4 {
      }
	}

	&.sidebar-primary {
      background-color: $sidebar-primary-background;
      .widget {
        border-bottom: 1px solid $gray-lightest;
      }
	}

	&.sidebar-secondary {
      ul.menu > li:last-child {
        border-bottom: 1px solid $gray-lightest;
      }
	}
}

.home .sidebar.sidebar-primary {
  background-color: white;
}

@media #{$small-up} {

}

@media #{$small-only} {

}

@media #{$medium-up} {
  .sidebar {
    &.sidebar-primary .widget,
    &.sidebar-secondary .widget{
      width: 50%;
      padding-bottom: 1rem;
    }
  }

}

@media #{$medium-only} {

}

@media #{$large-up}{
  .sidebar {
    &.sidebar-primary .widget,
    &.sidebar-secondary .widget{
      width: 100%;

    }
  }


}

@media #{$large-only}{

}

@media #{$xlarge-up}{

}

@media #{$xlarge-only}{

}

@media #{$xxlarge-up}{

}

@media #{$xxlarge-only}{

}
