/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {

	p:last-child {
		margin-bottom: 0;
	}

	li {
		list-style-type: none;
		margin-bottom: 6px;
		word-wrap: break-word;
	}

	ul > li:last-child {
		margin-bottom: 0;
	}

	.widget {
		background-color: $widget-background;
		padding: 0;
	}

	&.sidebar-primary {
	}

	&.sidebar-secondary {
	}
}

@media only screen and (min-width: $break-small) {
	.sidebar {

}

@media only screen and (min-width: $break-medium) {


}

@media only screen and (min-width: $break-large) {

}
